@font-face { 
  font-family: Yanone Kaffeesatz; 
    src: url('../fonts/YanoneKaffeesatz-Regular.eot'); 
    src: local(Yanone Kaffeesatz), url('../fonts/YanoneKaffeesatz-Regular.ttf'); 
} 

html { 
  height: 100%;}

* { 
  margin: 0; 
  padding: 0;}

/* tell the browser to render HTML 5 elements as block */
article, aside, figure, footer, header, hgroup, nav, section { 
  display:block;}

body { 
  font: normal .80em arial, sans-serif;
  background: #F8F7F0;
  color: #7A7A68;
}

p { 
  padding: 0 0 20px 0;
  line-height: 1.7em;
}

img { 
  border: 0;
}

h1, h2, h3, h4, h5, h6 { 
  color: #362C20;
  letter-spacing: 0em;
  padding: 0 0 5px 0;
}

h1, h2, h3 { 
  font: normal 140% 'Yanone Kaffeesatz', arial;
  margin: 0 0 15px 0;
  padding: 15px 0 5px 0;
  color: #000;
  text-shadow: 1px 1px 1px #fff;
}

h2 { 
  font-size: 160%;
  padding: 9px 0 5px 0;
  color: #AEB002;
}

h3 { 
  font-size: 140%;
  padding: 5px 0 0 0;
}

h4, h6 { 
  color: #AEB002;
  padding: 0 0 5px 0;
  font: normal 110% arial;
  text-transform: uppercase;
}

h5, h6 { 
  color: #888;
  font: normal 95% arial;
  letter-spacing: normal;
  padding: 0 0 15px 0;
}

a, a:hover { 
  outline: none;
  text-decoration: underline;
  color: #03D1FD;
}

a:hover { 
  text-decoration: none;
}

blockquote { 
  margin: 20px 0; 
  padding: 10px 20px 0 20px;
  border: 1px solid #E5E5DB;
  background: #FFF;
}

ul { 
  margin: 2px 0 22px 17px;
}

ul li { 
  list-style-type: circle;
  margin: 0 0 6px 0; 
  padding: 0 0 4px 5px;
  line-height: 1.5em;
}

ol { 
  margin: 8px 0 22px 20px;
}

ol li { 
  margin: 0 0 11px 0;
}

.left { 
  float: left;
  width: auto;
  margin-right: 10px;
}

.right { 
  float: right; 
  width: auto;
  margin-left: 10px;
}

.center { 
  display: block;
  text-align: center;
  margin: 20px auto;
}

#main, #logo, nav, #site_content, footer { 
  margin-left: auto; 
  margin-right: auto;
}

header { 
  background: #323534 url(../images/back.png) repeat-x;
  height: 153px;
}

#logo { 
  width: 990px;
  position: relative;
  height: 95px;
  padding-top: 20px;
  background: transparent;
}

#logo #logo_text { 
  position: absolute; 
  top: 5px;
  left: 0;
}

#logo h1, #logo h2 { 
  font-size: 360%;
  border-bottom: 0;
  text-transform: none;
  margin: 0 0 0 15px;
  text-shadow: none;
}

#logo_text h1, #logo_text h1 a, #logo_text h1 a:hover { 
  padding: 5px 0 0 0;
  color: #FFF;
  text-decoration: none;
}

#logo_text h1 a .logo_colour { 
  color: #09D4FF;
}

#logo_text a:hover .logo_colour { 
  color: #FFF;
}

#logo_text h2 { 
  font-size: 125%;
  padding: 0 0 0 0;
  color: #A8AA94;
}

nav { 
  width: 1000px;
  height: 46px;
} 

#site_content { 
  width: 1000px;
  overflow: hidden;
  margin: 20px auto 0 auto;
  padding: 0 0 10px 0;
} 

#sidebar_container { 
  float: right;
  width: 224px;
}

.sidebar { 
  float: right;
  width: 230px;
  margin: 0 0 17px 0;
  background: #FFF;
  background: #fff;
  border: 1px solid #e5e5e5;
  border-radius: 7px 7px 7px 7px;
  -moz-border-radius: 7px 7px 7px 7px;
  -webkit-border: 7px 7px 7px 7px;
}
  
.sidebar h3, .content h1 { 
  background: #eee;padding: 10px 15px;
  font-size: 170%;
  border: 1px solid #fff;
  color: #063E4C;
    border-radius: 7px 7px 0 0;
  -moz-border-radius: 7px 7px 0 0;
  -webkit-border: 7px 7px 0 0;
}

.sidebar h3, .content h1 { 
  padding: 5px 15px 10px 15px;
  color: #74706E;
}

.sidebar li a.selected { 
  color: #444;
} 

.sidebar ul { 
  margin: -20px 0 0 0;
} 

.sidebar_item, .content_item { 
  padding: 15px 15px;
}

.content { 
  text-align: left;
  width: 740px;
  margin: 0 0 15px 0;
  background: #fff;border-bottom: 1px solid #D4D4D4;
  border: 1px solid #e5e5e5;
  border-radius: 7px 7px 7px 7px;
  -moz-border-radius: 7px 7px 7px 7px;
  -webkit-border: 7px 7px 7px 7px;
  float: left;
}
  
.content ul { 
  margin: 2px 0 22px 0px;
}

.content ul li, .sidebar ul li { 
  list-style-type: none;
  background: url(../images/bullet.png) no-repeat;
  margin: 0 0 0 0; 
  padding: 0 0 4px 25px;
  line-height: 1.5em;
}

footer { 
  width: 100%;
  font-family: 'trebuchet ms', sans-serif;
  font-size: 90%;
  height: 60px;
  padding: 20px 0 5px 0;
  text-align: center; 
  border-top: 1px solid #000;
  background: #545454;
  color: #A8AA94;
  margin: 0 0 0 0;
  text-transform: uppercase;
}

footer p { 
  line-height: 1.7em;
  padding: 0 0 10px 0;
}

footer a { 
  color: #A8AA94;
  text-decoration: none;
}

footer a:hover { 
  color: #FFF;
  text-decoration: none;
}

.form_settings { 
  margin: 15px 0 0 0;
}

.form_settings p { 
  padding: 0 0 4px 0;
}

.form_settings span { 
  float: left; 
  width: 200px; 
  text-align: left;
}
  
.form_settings input, .form_settings textarea { 
  padding: 5px; 
  width: 299px; 
  font: 100% arial; 
  border: 1px solid #E5E5DB; 
  background: #FFF; 
  color: #47433F;
  border-radius: 7px 7px 7px 7px;
  -moz-border-radius: 7px 7px 7px 7px;
  -webkit-border: 7px 7px 7px 7px;  
}
  
.form_settings .submit { 
  font: 100% arial; 
  border: 0; 
  width: 99px; 
  margin: 0 0 0 212px; 
  height: 33px;
  padding: 2px 0 3px 0;
  cursor: pointer; 
  background: #3B3B3B; 
  color: #FFF;
  border-radius: 7px 7px 7px 7px;
  -moz-border-radius: 7px 7px 7px 7px;
  -webkit-border: 7px 7px 7px 7px;  
}

.form_settings textarea, .form_settings select { 
  font: 100% arial; 
  width: 299px;
}

.form_settings select { 
  width: 310px;
}

.form_settings .checkbox { 
  margin: 4px 0; 
  padding: 0; 
  width: 14px;
  border: 0;
  background: none;
}

.separator { 
  width: 100%;
  height: 0;
  border-top: 1px solid #D9D5CF;
  border-bottom: 1px solid #FFF;
  margin: 0 0 20px 0;
}
  
table { 
  margin: 10px 0 30px 0;
}

table tr th, table tr td { 
  background: #3B3B3B;
  color: #FFF;
  padding: 7px 4px;
  text-align: left;
}
  
table tr td { 
  background: #E5E5DB;
  color: #47433F;
  border-top: 1px solid #FFF;
}

#colours { 
  float: right;
  padding: 10px 0 0 0;
}

#search { 
  float: right;
}

.search { 
  border: 1px solid #666;
  border-radius: 7px 7px 7px 7px;
  -moz-border-radius: 7px 7px 7px 7px;
  -webkit-border: 7px 7px 7px 7px;  
  float:left;
  margin:20px 0 0;
  padding:5px;
  vertical-align:middle;
  width:192px;
  color: #bbb;
  background:#5E5E5E;
}





/**
Stylesheet for SooperFish by www.SooperThemes.com
Author: Jurriaan Roelofs
*/

/* Configuration of menu width */
html body ul.sf-menu ul, html body ul.sf-menu ul li {
  width: 180px;
}

html body ul.sf-menu ul ul {
  margin: 0 0 0 180px;
}

/* Framework for proper showing/hiding/positioning */
/* DO NOT EDIT FROM HERE */
ul.sf-menu, ul.sf-menu * {
  margin: 0;
  padding: 0;
}

ul.sf-menu {
  display: block;
  position: relative;
}

ul.sf-menu li {
  display: block;
  list-style: none;
  float: left;
  position: relative;
}

ul.sf-menu li:hover {
  visibility: inherit; /* fixes IE7 'sticky bug' */
}

ul.sf-menu a {
  display: block;
  position: relative;
}

ul.sf-menu ul {
  position: absolute;
  left: 0;
  width: 150px; 
  top: auto;
  left: -999999px;
}

ul.sf-menu ul a {
  zoom: 1; /* IE6/7 fix */
}

ul.sf-menu ul li {
  float: left; /* Must always be floated otherwise there will be a rogue 1px margin-bottom in IE6/7 */
  width: 150px;
}

ul.sf-menu ul ul {
  top: 0;
  margin: 0 0 0 150px
}

ul.sf-menu li:hover ul,ul.sf-menu li:focus ul,ul.sf-menu li.sf-hover ul,
ul.sf-menu ul li:hover ul,ul.sf-menu ul li:focus ul,ul.sf-menu ul li.sf-hover ul,
ul.sf-menu ul ul li:hover ul,ul.sf-menu ul ul li:focus ul,ul.sf-menu ul ul li.sf-hover ul,
ul.sf-menu ul ul ul li:hover ul,ul.sf-menu ul ul ul li:focus ul,ul.sf-menu ul ul ul li.sf-hover ul {
  left: auto;
}

ul.sf-menu li:hover ul ul,ul.sf-menu li:focus ul ul,ul.sf-menu li.sf-hover ul ul,
ul.sf-menu ul li:hover ul ul,ul.sf-menu ul li:focus ul ul,ul.sf-menu ul li.sf-hover ul ul,
ul.sf-menu ul ul li:hover ul ul,ul.sf-menu ul ul li:focus ul ul,ul.sf-menu ul ul li.sf-hover ul ul,
ul.sf-menu ul ul ul li:hover ul ul,ul.sf-menu ul ul ul li:focus ul ul,ul.sf-menu ul ul ul li.sf-hover ul ul {
  left: -999999px;
}

/* autoArrows CSS */
span.sf-arrow {
  width: 7px;
  height: 7px;
  position: absolute;
  top: 8px;
  right: 0;
  display: block;
  background: url(../images/images/arrows-black.png) no-repeat 0 0;
  overflow: hidden; /* making sure IE6 doesn't overflow and expand the box */
  font-size: 1px;
}

ul ul span.sf-arrow {
  right: 12px;
  top: 7px;
  background-position: 0 100%;
}

/* Theming the menu */
ul#nav {
  float: left;
}

ul#nav li.current a {
  color: #FFF;}

ul#nav ul {
  background: #88E2F8;
}

ul#nav li a {
  padding: 7px 20px;
  font-family: 'trebuchet ms',helvetica,arial,verdana,sans;
  text-decoration: none;
  color: #111;
  background: #88E2F8;
  margin-right: 2px;
  border-radius: 7px 7px 0 0;
  -moz-border-radius: 7px 7px 0 0;
  -webkit-border: 7px 7px 0 0;}

ul#nav li a:hover, ul#nav li a:focus {
  color: #FFF;
}

ul#nav li ul li a {
  margin-right: 0;
  border-radius: 0 0 0 0;
  -moz-border-radius: 0 0 0 0;
  -webkit-border: 0 0 0 0;
}

span.sf-arrow {
  top: 15px;
  right: 5px;
  background-image: url(../images/arrows-white.png);
}

ul ul span.sf-arrow {
  right: 12px;
  top: 15px;
}